<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CFB Scorigami</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <table>
        <tr>
            {%for i in range(-1,max_score + 1)%}
            <th>{{i}}</th>
            {%endfor%}
        </tr>
        {% for i in range(max_score+1) %}
        <tr>
            <th>
                {{i}}
            </th>
            {% for j in range(max_score+1) %}
            <td class="{{table.get_value(j,i)}}"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
<script src="static/main.js"></script>
</html>