<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

    <table>
        <tr>
            <td> </td>{%for i in range(300)%}<td>{{i}}</td>{%endfor%}
        </tr>
        {% for i in range(300)%}
        <tr>
            <td>{{i}}</td>
            {%for j in range(300)%}
                <td class= 
                {%if data[j][i]>0 %}
                    {{'green'}}
                {%elif j<i %}
                    {{'black'}}
                {%else%}
                    {{'white'}}
                {%endif%}
                 id={{j}}_{{i}}>{{data[j][i]}}</td>
            {%endfor%}
        </tr>
        {%endfor%}
    </table>
</body>
<script src="{{url_for('static', filename='main.js')}}"></script>
</html>